.menu-back {
  background-color: #293449;
  color: white;
}


.footer-nav-back {
  color: white;
  background-color: #32425c;
}

.footer-contacts-back {
  color: white;
  background-color: #293449;
}
